terraform {
  required_providers {
    outscale = {
      source = "outscale-dev/outscale"
      version = "0.5.3"
    }
  }
}

provider "outscale" {
  access_key_id  = "{{ outscale_ak }}"
  secret_key_id  = "{{ outscale_sk }}"
  region         = "{{ outscale_region }}"
  endpoints {
    api  = "{{ outscale_api_endpoint }}"
    }
}
