$TTL 86400
@	IN	SOA	dns-primary.{{ domain_name }}. admin.{{ domain_name }}. (
                                            2020011800 ;Serial
                                            3600 ;Refresh
                                            1800 ;Retry
                                            604800 ;Expire
                                            86400 ;Minimum TTL
)
;Name Server Information
@	IN	NS	dns-primary.{{ domain_name }}.

;Reverse lookup for Name Server
200		IN	PTR	dns-primary.{{ domain_name }}.

;PTR Record IP address to Hostname
200      	IN      PTR     api.{{ ocp_cluster_name }}.{{ domain_name }}.
200      	IN      PTR     api-int.{{ ocp_cluster_name }}.{{ domain_name }}.
;
176     	IN      PTR     bootstrap0.{{ ocp_cluster_name }}.{{ domain_name }}.
;
222	IN	PTR	master0.{{ ocp_cluster_name }}.{{ domain_name }}.
100	IN	PTR	master1.{{ ocp_cluster_name }}.{{ domain_name }}.
14	IN	PTR	master2.{{ ocp_cluster_name }}.{{ domain_name }}.
;
137 	IN      PTR     worker0.{{ ocp_cluster_name }}.{{ domain_name }}.
67 	IN      PTR     worker1.{{ ocp_cluster_name }}.{{ domain_name }}.
31 	IN      PTR     worker2.{{ ocp_cluster_name }}.{{ domain_name }}.
