//global options
options {
allow-query { any; };
recursion yes;
};

//forward zone
zone "{{ domain_name }}" IN {
     type master;
     file "/var/named/{{ domain_name }}.db";
     allow-update { none; };
     allow-query { any; };
};

//backward zone
zone "1.168.192.in-addr.arpa" IN {
     type master;
     file "/var/named/{{ domain_name }}.rev";
     allow-update { none; };
     allow-query { any; };
};
